@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Condensed', sans-serif;
    --main-bg-color: black;
    --main-font-color: aliceblue;
}

a{
    text-decoration: none;
}

header{
    width: 100%;

}

.container{
    width: 100%;
    height: 130vh;
    background-color: var(--main-bg-color);
    margin: auto;
    overflow: hidden;
    z-index: -2;
    position: relative;
}

.navbar-menu{
    overflow: hidden;
    height: 5vh;
    padding: 0px 30px 0px 30px;
    position: fixed;
    background: linear-gradient(to right, rgba(0, 0, 0) 0%, rgba(0, 0, 0, 0.192) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    box-shadow: 2px 2px 5px rgb(59, 58, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;

}

.nav-elements{
    display: inline-flex;
}

.nav-elements li{
    padding-right: 10px;
    list-style: none;
}

.nav-elements a{
    color: var(--main-font-color);
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.nav-elements a::after{
    content: "";
    background-color: rgb(39, 38, 38);
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    height: 2.5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.nav-elements a:hover::after{
    opacity: 1
}

.logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.earth-sequence{
    position: relative;
    background-image: url(images/galaxy_1.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 110vh;
    width: 100%;
    
}

.earth-sequence::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(to top, rgba(0, 0, 0), transparent);
    z-index: 1;
    
}

.earth-sequence img{
    height: auto;
    position: absolute;
    object-fit: contain;
    pointer-events: none;
}

.earth-img-1{
    width: 50%;
    min-height: 20%;
    min-width: 20%;
    margin-top: 10vh;
    left: 25vw;
    z-index: 10;
}



.sat-img-1{
    transform: scale(1);
    width: 30%;
    min-width: 20%;
    top: 80vh;
    left: 65vw;
    z-index: 10;
}

.jup-img-1{
    width: 6%;
    left: 14%;
    top: 30vh;
}

.sun-img-1{
    width: 10%;
    min-width: 8%;
    min-height: 8%;
    margin-top: 20vh;
    right: 5vw;
    z-index: 20;
   
}

.moon-img-1{
    width: 20%;
    min-height: 20%;
    min-width: 20%;
    top: 70vh;
    right: 80vw;
    z-index: 1;

}

.banner{
    border: 2px solid;
    border-color: dimgray;
    height: 26vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner div{
    position: absolute;
    object-fit: contain;
    z-index: 20;
}

.banner img{
    position: absolute;
    width: 22rem;   
}

.banner-video video{
    width: 100vw;
    position: relative;
    z-index: -1;
}

.left-banner{
    top: -3rem;
    right: 100rem;
    left: -10rem;
}

.right-banner{
    right: 12rem;
    top: -4rem;
}

.space-ship-banner{
    top: 3rem;
    left: -1rem;
}

.moon-sequence{
    height: 110vh;
    background-image: url(images/galaxy_3.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.moonsection::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(to top, rgba(0, 0, 0), transparent);
    z-index: 0;
    
}

.moon-pic{
    width: 50rem;
    height: 100%;
    margin-left: 35rem;
    margin-top: 1rem;

}

.astronaut{
    width: 35%;
    height: 100%;
    margin-left: 10rem;
}

.earth-moon-sequence{
    width: 5%;
    height: 100%;
    margin-top: 5rem;
    margin-left: 8rem;
}

.star-1{
    width: 5%;
    height: 100%;
    margin-left: 90rem;
    margin-top: 5rem;

}

.star-2{
    width: 12%;
    height: 100%;
    margin-left: 75rem;
    margin-top: 40rem;
}

.star-3{
    width: 10%;
    height: 100%;
    margin-left: 10rem;
    margin-top: 45rem;
}


.sun-sequence{
    position: relative;
    background-image: url(images/galaxy_5.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.sun-sequence::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(to top, rgba(0, 0, 0), transparent);
    z-index: 1;
    
}

.sun-sequence img{
    height: auto;
    position: absolute;
    object-fit: contain;
    pointer-events: none;
}

.sun-img-2{
    width: 70%;
    min-width: 60%;
    bottom: -40%;
    left: -20%;
    z-index: 1;
}

.earth-img-2{
    width: 10%;
    left: 60vw;
    top: 10vh;
}

.mars-sequence{
    position: relative;
    background-image: url(images/mars_background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 130vmin;
    width: 100vw;
    overflow: hidden;
}

.mars-sequence img{
    height: auto;
    position: absolute;
    object-fit: contain;
    pointer-events: none;
}

.mars_montaña1{
    min-width: 130%;
    top: -7em;
    right: -5px;
    z-index: 10;
}

.mars_montaña2{
    min-width: 20%;
    top: -70px;
    left: 0px;
    z-index: 10;

}

.earth-img-3{
    transform: scale(1);
    z-index: 10;
    width: 14%;
    left: 52vw;
    top: 14vh;
}